<% provide(:title, 'About') %>

<h1>Generic Games</h1>
<p>This is the home of games designed by Michael Sands.</p>
<p>I've been roleplaying since the blue-box basic D&D set could be bought in New 
Zealand, and designing games on and off right from the beginning. <i>Monster of the 
Week</i> is my first design that is commercially available.</P>
