<div class="row">
  <div class="span9 motw">
    <h1>Monster of the Week</h1>
    <h2>There are monsters out there.</h2>
    <p>Most people don't believe in them, but they're real. Mostly, when 
    someone finds out that monsters are real, that's just before they die. But some 
    people are mean enough, smart enough, crazy enough, or hurt enough, that they live. 
    And some of those people go and hunt down more. That's who you are – someone who 
    decided to go on a crusade against the evil critters that are scurrying around out 
    there.</p>
    <p>It could be that you make a stand and defend your hometown from 
    everything evil that comes to visit.</p>
    <p>It could be you take to the road and go find them.</p>
    <p>It could be you have magic powers that help out.</p>
    <p>It could be that your name came up in prophecies thousands of 
    years ago.</p>
    <p>The one sure thing is you aren't gonna go back to your 
    old, safe life.</p>
    <h2>What's Going On?</h2>
    <p><i>Monster of the Week</i> is an action-horror roleplaying game. It's powered by 
    the Apocalypse Engine, from Vincent Baker's game <a href="http://apocalypse-world.com/">
    Apocalypse World</a>.</p>
    <p>It's low on preparation time, so you can get to slaying monsters quickly, and 
    you'll generate the monster mythology of your world as you play.</p>
    
  </div>
  <div class="span3 motw">
    <h2>Buy Monster of the Week</h2>
    <p>TODO: Various buy it links: dropdown to select type & preferred method?</p>
    <h2>Resources</h2>
    <ul>
      <li>Downloads</li>
      <li>Reviews and Play Reports</li>
      <li>Translations</li>
      <li>FAQ</li>
      <li>Errata</li>
    </ul>
  </div>
</div>

