<!DOCTYPE html>
<html>
  <head>
    <div class="center hero-unit">
      <h1>Generic Games Homepage</h1>
      <h2>Home of <i>Monster of the Week</i> and other games by Michael Sands.</h2>
    </div>
  </head>
  <body>
    <h2 class="motw"><i>Monster of the Week</i>: there are monsters out there.</h2>
    <p>Most people don't believe in them, but they're real. Mostly, when someone finds out 
    that monsters are real, that's just before they die.</p>
    <p>But some people are mean enough, smart enough, crazy enough, or hurt enough, that 
    they live. And some of those people go and hunt down more.</p>
    <p>That's who you are – someone who decided to go on a crusade against the evil 
    critters that are scurrying around out there.</p>
    <p>It could be that you make a stand and defend your hometown from everything evil 
    that comes there.</p>
    <p>It could be you take to the road and go find them.</p>
    <p>It could be you have magic powers that help out.</p>
    <p>It could be that your name came up in prophecies thousands of years ago.</p>
    <p><strong>The one sure thing is you aren't gonna go back to your old, safe life.</strong><p>
    <h3>What's Going On?</h3>
    <p><i>Monster of the Week</i> is an action-horror roleplaying game.</p>
    <h3>Buy Monster of the Week</h3>
    <p>TODO: Various buy it links: dropdown to select type & preferred method?</p>
    <p>TODO: links to files, FAQ, reviews, errata, etc.
    </body>
</html>
