<% provide(:title, '') %>

<div class="row">
  <div class="span9 motw">
    <h1>Monster of the Week</h1>
    <h2>There are monsters out there.</h2>
    <p>Most people don't believe in them, but they're real. Mostly, when 
    someone finds out that monsters are real, that's just before they die. But some 
    people are mean enough, smart enough, crazy enough, or hurt enough, that they live. 
    And some of those people go and hunt down more. That's who you are – someone who 
    decided to go on a crusade against the evil critters that are scurrying around out 
    there.</p>
    <p>It could be that you make a stand and defend your hometown from 
    everything evil that comes to visit.</p>
    <p>It could be you take to the road and go find them.</p>
    <p>It could be you have magic powers that help out.</p>
    <p>It could be that your name came up in prophecies thousands of 
    years ago.</p>
    <p>The one sure thing is you aren't gonna go back to your 
    old, safe life.</p>
    <h2>What's Going On?</h2>
    <p><i>Monster of the Week</i> is an action-horror roleplaying game. It's powered by 
    the Apocalypse Engine, from Vincent Baker's game <i><a href="http://apocalypse-world.com/">
    Apocalypse World</a></i>.</p>
    <p>It's low on preparation time, so you can get to slaying monsters quickly, and 
    you'll generate the monster mythology of your world as you play.</p>
    
    <h2>Resources</h2>
    <h3>Downloads</h3>
    
    <h3>Translations</h3>
    <ul>
      <li>There is an Italian translation by Narrativa: <a href="http://www.narrattiva.it/giochi/il-mostro-della-settimana"><i>Il Mostro della Settimana</i></a></li>
      <li>A Russian translation is in progress by <a href="http://studio101.ru">Studio 101</a></li>
      <li>Nicolas Ronvel has translated the handouts into French, and you can find them <a href="http://www.gulix.fr/blog/?article235">at his blog</a>.</li>
    </ul>
    <h3>FAQ</h3>    
    <ul>
      <li><b>Do I need a copy of <i>Apocalypse World</i> to play <i>Monster of the Week</i>?</b><br/>
      No, <i>Monster of the Week</i> is a stand-alone game. The mechanics are based on <i>Apocalypse World</i>, but you won't need a copy.</li>
      <li><b>I'd like to get hold of the Divine, Hard Case, Snoop and Summoned playbooks from the fundraising campaign. Are there any plans to release these?</b><br/>
      There are two that I will make available in return for you publicising the game (drop me a line if you qualify):
      <ul>
        <li>The Action Scientist is available if you run (or play) <i>Monster of the Week</i> at a convention. It's inspired by <a href="http://www.atomic-robo.com/"><i>Atomic Robo</i></a>, and will add some science-powered mayhem to your mystery.</li>
        <li>The Exile is available if you have written about your game of <i>Monster of the Week</i> on the web. This is a monster hunter from the past who has been mysteriously transported to the modern day.</li>
      </ul>
      Many of the others are shared at <a href="http://nerdwerds.blogspot.com/2012/12/all-of-playbooks.html">Nerdwerds "all the playbooks" page</a>, along with many for other games derived from <i>Apocalypse World</i>.
      </li>
      <li><b>Is it okay to share or trade limited edition hunter playbooks?</b><br/>
      All the official ones, sure. Fan-made ones, it's up to the author.</li>
      <li><b>I bought the Lulu edition of the game and would like the PDF edition as well. Can I get it?</b><br/>
      Yes, send me an email with your Lulu order number and I'll send you the download links.</li>
    </ul>  
    <h3>Reviews</h3>
    <ul>
      <li><a href="http://rpggeek.com/thread/828155/hunting-vampires-mongolian-death-worms-and-terrors">Hunting vampires, Mongolian death worms, and terrors from beyond.</a></li>
      <li><a href="http://atoolongurl.blogspot.it/2012/09/review-monster-of-week.html">Review: <i>Monster of the Week</i></a></li>
      <li><a href="http://leftoblique.net/news/show_article.php?index=2643">Review: <i>Monster of the Week</i></a></li>
      <li><a href="http://rpggeek.com/thread/952218/monster-of-the-week-i-read-this-book-and-now-i-h">I read this book and now I have to rethink everything I know about being a GM</a></li>
      <li><a href="http://rpg.drivethrustuff.com/product_reviews_info.php?&reviews_id=94640&products_id=108308">'A total winner'</a></li>
      <li><a href="http://rpg.drivethrustuff.com/product_reviews_info.php?&reviews_id=88303&products_id=108308">'Fun to run and it's fun to play'</a></li>
    </ul>
    <h3>Play Reports</h3>
    <ul>
      <li><a href="http://forums.somethingawful.com/showthread.php?threadid=3501383&pagenumber=10#post407155725">Mad science and other chaos</a></li>
      <li><a href="http://story-games.com/forums/discussion/15731/monster-of-the-week-at-conception">Darkening Skies</a></li>
      <li>Jankcast actual play: <i>Monster of the Week</i> <a href="http://jankcast.com/archives/2046">part one</a> and <a href="http://jankcast.com/archives/2120">part two</a></li>
      <li><a href="http://rpggeek.com/thread/862434/shs-7-42-campaign-part-1-set-up">SHS 7-42</a></li>
      <li><a href="http://lostzeppo.blogspot.co.uk/2012/11/monster-of-week-gugacon-one-shot-jersey.html">Night of the Living Dead Elvis</a></li>
      <li>In Italian: <a href="http://elementifiniti.blogspot.it/2013/07/riassunto-dei-post-dellufficio-stranezze.html">Riassunto dei post dell'Ufficio Stranezze</a></li>
      <li>In Italian: <a href="http://gdroggi.blogspot.it/2012/08/recensione-monster-of-week.html">Recensione <i>Monster of the Week</i></a></li>
      <li>In Italian: <a href="http://www.gentechegioca.it/smf/index.php/topic,7867.0.html">Lake Charles, Louisiana</a></li>      
    </ul>
    <h3>Errata</h3>
    <ul>
      <li><strong>p61, Hunter Reference Sheet</strong>: The text for manipulate someone is not consistent between the discussion in the hunter and keeper sections and the hunter reference sheet. The canonical text change is for the 10+ result for bystanders, which should read: "If you get 10+, then they'll do it for the reason you gave them." There's an updated hunter reference sheet in the downloads section.</li>
    </ul>
  </div>
</div>

