<% provide(:title, "Update User") %>
<h1>Update your details</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'fields', f: f %>
  <%= f.submit 'Save changes', class: 'btn btn-large btn-primary' %>
<% end %>