<div class="span3 motw-sidebar">
  <%= link_to image_tag "cover.jpg", alt: "Monster of the Week" %>
  <h2>Buy Monster of the Week</h2>
  <ul>
    <li>PDF direct (USD$10): <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9JL4WQM2AK5XJ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></li>
    <li>Print & PDF direct Global (USD$20 + $12.50 shipping): <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BPEJYAG77GK6N">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    </li>
    <li>Print & PDF direct Australia/South Pacific (USD$20 + $9 shipping):<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7Y28C7YNY983S">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</li>
    <li>Print & PDF direct New Zeland (NZD$25 + $5 shipping): <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KW9G9WPYNJQM2">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</li>
    <li>PDF from drivethruRPG (USD$10): <a href="http://www.rpgnow.com/product/108308/Monster-of-the-Week?affiliate_id=44653" imageanchor="1"><img border="0" src="http://www.rpgnow.com/themes/rpgnow/images/banners/bannerbutton-rpgnow.gif"></a></li>
    <li>Print on demand from Lulu (USD$20 + shipping): <a href="http://www.lulu.com/commerce/index.php?fBuyContent=12214808"><img alt="Support independent publishing: Buy this book on Lulu." border="0" src="http://static.lulu.com/images/services/buy_now_buttons/gb/gray.gif?20120612124331"></a></li>
  </ul>
</div>