<div class="span3 motw">
  <%= link_to image_tag "cover.jpg", alt: "Monster of the Week" %>
  <h2>Buy Monster of the Week</h2>
  <p>TODO: Various buy it links: dropdown to select type & preferred method?</p>
  <h2>Resources</h2>
  <ul>
    <li>Downloads</li>
    <li>Reviews and Play Reports</li>
    <li>Translations</li>
    <li>FAQ</li>
    <li>Errata</li>
  </ul>
</div>