<% provide(:title, 'Add new file') %>
<% if signed_in_user %>
<h1>Add new file</h1>
  <div class="span6 offset3">
    <%= form_for(@file) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<% else %>
  <% redirect_to root_url %>
<% end %>