<% provide(:title, 'Downloads') %>
<h1>Downloads</h1>
<p><%= render 'shared/downloadable_file_new_link' %></p>
<%= will_paginate @files, class: "pagination" %>
<% @files.each do |f| %>
  <%= render 'downloadable_files/file', file: f %>
<% end %>  
<%= will_paginate @files, class: "pagination" %>
