// Place all the styles related to the home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 75%;
  height: 10em;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  margin-left: 10px;
  margin-right: 10px;  
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  margin-left: 10px;
  margin-right: 10px;  
  text-align: justify;
}

li {
  margin-left: 20px;
  margin-right: 10px;  
  
  li {
    margin-left: 5px;
    margin-right: 0px;
  }
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: tomato;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.byline {
  p {
    font-size: 0.7 em;
  }
}
/* Monster of the Week branding-specific */

.motw {
// nothing right now
}

.motw-sidebar {
  li {
    margin-left: 5px;
    margin-right: 0px;    
  }
}

.pagination {
  background: white;
  cursor: default;
  margin-left: 10px;
  margin-right: 10px;
  
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $gray;
    color: white;
    border: 1px solid $grayDark; }
  .pagination a {
    text-decoration: none;
    color: $grayLight;
    border: 1px solid $gray; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; 
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.file-table-dark {
  background: #F0F5F5;
}

.file-table-light {
  background: white;
}