<footer class="footer">
  <small>
    <%= link_to image_tag("generic_games_monster.jpg", alt: "Generic Games: ", height: '32', width: '32') %>
    Games by Michael Sands
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>